a#profilepage{
	    float: right;
    position: absolute;
    left: 67%;
    text-decoration: none;
    padding: 12px;
    
    color: #fff;
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.2;
}
